<!DOCTYPE html>
<html lang="en">
<body>
<div data-th-fragment="footer">


    <table class="navbar navbar-expand-sm bg-dark navbar-dark nav-item active text-white" style="align:center">
        <tr class="navbar-nav">
            <td class="">
                Powered by <a href="https://wangxiaoyue16.com">wangxiaoyue16.com</a>
            </td>
            <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            </td>
            <td>
                                河东公司 版权所有 <a href="http://beian.miit.gov.cn">冀ICP备19025289号-1</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>