<!DOCTYPE html>
<html lang="en" data-th-fragment="header">
<head>
    <meta charset="UTF-8">
    <title>MongoDB File Server</title>
    <script src="../../js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
    <script src="../../js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>
    <script src="../../js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="../../js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <link href="../../css/font-awesome.css" th:href="@{/css/font-awesome.css}" rel="stylesheet">
	<link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link href="../../css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" rel="stylesheet">
    <link href="../../css/bootstrap-grid.min.css" th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet">
    <link href="../../css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet">
    <link href="../../css/bootstrap-reboot.min.css" th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet">
    <link href="../../css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div>

    <table class="navbar navbar-expand-sm bg-dark navbar-dark">
        <tr></tr>
        <tr class="navbar-nav">

            <td class="nav-item active display-4 text-white" >
                MongoDB File server
            </td>

        </tr>
    </table>
</div>
</body>
</html>